@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(240, 237, 237);
    font-family: "Overpass", sans-serif;
    margin: 0;
    color: black;
    font-weight: 100;
    line-height: 1.7;
}

header {
    display: flex;
    text-align: center;
    background-color: #6cd856;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 600;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto; 
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}

.cards-financeiros{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.card{
    background-color: white;
    color: black;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); 
}

.card h3 {
    margin: 0;
    color: rgb(77, 76, 76);
    font-size: 1.5em;
    font-weight: 600; 
}
  
.card p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333; 
    margin: 15px 0 0 0;
}

.content-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 35px 0;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

button {
    background-color: #519e41;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  

button:hover {
    background-color: rgb(49, 88, 55);
    transform: translateY(-2px);
}

#relatorio {
    margin-left: auto;
}

#novo {
    margin-left: 15px;
}

.voltar {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voltar:hover {
    background-color: white;
    color: #6cd856;
}

.tabela-financeira {
    width: 100%;
    margin-top: 0px;
    border-collapse: collapse;
    font-family: "Overpass", sans-serif;
}

.tabela-financeira th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabela-financeira th {
    text-align: left; 
    background-color: #6cd856; 
    color: white;
    text-align: center;
    font-weight: 700px;
}

.tabela-financeira td {
    font-size: 1.1em;
    font-weight: 300;
}